src/main/mule/supportAppForAnypointPlatform.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="support-app-for-anypoint-platform-flow"  >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="/"/>
		<http:basic-security-filter doc:name="Basic security filter"  realm="anypointPlatformSupport" />
		<spring:authorization-filter doc:name="Authorization filter"  requiredAuthorities="ROLE_ADMIN" />
		<http:load-static-resource doc:name="Load index page"  resourceBasePath="#[p('app.home') ++ &quot;//webapp&quot;]" />
	</flow>
	<flow name="get-metrix-flow" doc:id="669911f3-4838-4023-ae32-c07e25f9a806" >
		<http:listener doc:name="Listener" doc:id="bdf3ef39-c879-4db1-98fd-71198fad8c52" config-ref="HTTP_Listener_config" path="/metrics" />
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload to JSON" />
		<choice doc:name="Choice">
			<when expression='#[payload == ""]'>
				<flow-ref doc:name="Flow Reference" doc:id="993319ea-f87e-4383-b1d4-1f086f334d3a" name="retrieveEnvironments" />
				<flow-ref doc:name="Flow Reference1" doc:id="57c8e059-452e-43bd-990c-4dce9196a3c0" name="retrieveApplications" />
				<parse-template doc:name="Parse Template" doc:id="7efd025f-352c-4512-95bd-0d73cf8d34ea" location="webapp\metrics.html" />
<!-- [STUDIO:"Load metrics page"]				<http:load-static-resource doc:name="Load metrics page" resourceBasePath="#[p('app.home') ++ &quot;//webapp&quot;]" defaultFile="metrics.html" /> [STUDIO] -->
			</when>
			<otherwise>
				<flow-ref doc:name="metrixOutput" name="metrix-output" />
			</otherwise>
		</choice>
	</flow>
	<flow name="get-logs-flow" doc:id="3d742af5-b5e5-4bd3-b9d6-3b2decf6b5b9">
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="/logs" />
		<set-payload doc:name="Set Payload to JSON"  value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<choice doc:name="Choice"  >
			<when expression='#[payload == ""]'>
				<flow-ref doc:name="Flow Reference" doc:id="724beccf-49cc-4c14-8a69-b4212741c304" name="retrieveEnvironments"/>
				<flow-ref doc:name="Flow Reference" doc:id="4cb3afa3-3bd3-4c96-bee3-b2338a37af82" name="retrieveApplications"/>
				<parse-template doc:name="Parse Template" doc:id="55f71fa9-d97a-456d-a7f8-e339f1e51325" location="webapp\logs.html"/>
<!-- [STUDIO:"Load logs page"]				<http:load-static-resource doc:name="Load logs page"  resourceBasePath="#[p('app.home') ++ &quot;//webapp&quot;]" defaultFile="logs.html" /> [STUDIO] -->
			</when>
			<otherwise >
				<flow-ref doc:name="logsOutput"  name="logs-output"/>
			</otherwise>
		</choice>
    </flow>
	<flow name="supportAppForAnypointPlatformFlow" doc:id="8cf9986a-da2c-48b4-a9a2-4c10e57652b2" >
		<http:listener doc:name="Listener" doc:id="42a7d115-8119-45ec-b281-a952b9c55f64" config-ref="HTTP_Listener_config" path="/getApplications"/>
		<set-variable value="#[attributes.queryParams[0]]" doc:name="Set Variable" doc:id="c15ee336-3b5a-4cdc-8058-6cc0fb7b615c" variableName="currentEnv"/>
		<flow-ref doc:name="Flow Reference" doc:id="b0bfdfc7-a5fd-44b3-9fe0-92eb9eeddbc5" name="retrieveApplications"/>
	</flow>   
</mule>
